body{
    background-color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(31, 7, 250);
}
h1{
    color: rgb(255, 0, 0);
    font-size: 16px;
    text-transform: uppercase;
    text-align:center;
}
a:link {
    color: rgb(255, 0, 0);
  }
  
  a:visited {
    color: rgb(241, 13, 184);
    text-decoration: line-through;
  }
  
  a:hover {
    color: rgb(68, 0, 255);
    text-decoration: underline;
  }
  
  a:active {
    color: rgb(191, 255, 0);
  }
  img{
    width: 250px;
    border: 1px solid rgb(255, 0, 0);
    opacity: 0.5;
    
  }